!!! 5
%html
  %head
    %title Bingo game on jQuery
    %script{type: "text/javascript", src:"/jquery-1.6.1.min.js"}
    %script{type: "text/javascript", src:"/app.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/app.css"}
  %body
    %div#all
      %h1
        Udzura
        %span{style: "color: #a00"} Bingo
        System
        v.1.0, powered by
        %a{href: "http://www.sinatrarb.com/"} Sinatra
        &
        %a{href: "http://jquery.com/"} jQuery
      %div#left
        %div#prev
          %h2 前回
          %div#prevvalue -
        %div#prev2
          %h2 前々回
          %div#prevvalue2 -
      %div#center
        %div#number 0
      %div#right
        %div#chosen 　

